{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<section class="main-section" id="main-section">
    <div class="main-section-block">
        <div class="main-text">
            <div class="row">
            <div class="col-md-12">
        <div class="main-contacts">
            <div>
                <p class="main-tel"><a href="tel: {{basicdata.tel}}">{{basicdata.tel}}</a></p>
                <p class="main-email"><a href="mailto:mr.levdanilov@mail.ru">mr.levdanilov@mail.ru</a></p>
            </div>
            </div>
        </div>
        </div>
            <div class="row main-text-title">
                <div class="our-name">
                    {{basicdata.our_name}}
                </div>
            </div>
            <div class="row main-text-title subtitle">
                <div class=" col-md-8  our-name-descr">
                    Лучшая художественная ковка в городе
                </div>
                <div class="col-md-4  our-name-btn">
                    <a class="btn btn-primary" href="{% url 'catalog' %}">каталог</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="info-section" id="info-section">
<div class="container container-content">
    <div class="about-us">
        <div class="about-us-main-descr">
            <p><span class="accent-words">{{basicdata.our_name}} </span> - динамично развивающаяся компания, по изготовлению качественных и не дорогих кованых изделий.</p>
            <p>Мы обеспечиваем наших клиентов<span class="accent-words"> уникальной</span>, красивой и долговечной ковкой в исполнении<span class="accent-words"> талантливых </span>мастеров. Качественно и не дорого.</p>
        </div>
        <div class="about-us-albums">
            <div class="row albums-list">
                        {%for album in albums_list%}
                <div class="card" style="width: 20rem;">
                    <a href="{{album.get_absolute_url}}">
                        <img class="card-img-top" src="{{album.get_prewiew}}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">{{album.title}}</h4>
                        </div>
                    </a>
                </div>
                {%endfor%}
             </div>
        </div>
        <div class="about-us-main-descr">
            <p> <h2> Преимущества<span class="accent-words"> кованого металла</span>:</h2>
                <ul>
                    <li>Возможность изготовления по индивидуальным размерам</li>
                    <li>Красота</li>
                    <li><span class="accent-words">Долговечность</span></li>
                    <li>Хорошие защитные функции</li>
                    <li><span class="accent-words">Ручная работа</span></li>
                    <li>Кованые изделия можно выполнить в любом стиле</li>
                    <li><span class="accent-words">Ковка прекрасно сочетается с другими материалами</span></li>
                </ul>
            </p>
            <p>Перечень <span class="accent-words">достоинств</span> получается довольно большим, причем его можно продолжать. Если же охарактеризовать <span class="accent-words">кованый металл</span> в нескольких словах, то получится, что такие изделия сочетают в себе <span class="accent-words"> красоту</span>, долговечность и <span class="accent-words"> хорошую</span> функциональность.</p>
        </div>
    </div>
</div>
</section>
<section class="order-section" id="order-section">
<div class="container container-content">
    <h2 class="section-title">
        Оформить заказ
    </h2>

    <form class="form-horizontal form-order" action="/sender" method="POST" role="form">
        {%csrf_token%}
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" id="inputName" placeholder="имя">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" id="inputTel" placeholder="телефон">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="e-mail">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="inputDescr" placeholder="описание заказа" rows="4"></textarea>
            </div>

        </div>
        <div class="modal-footer modal-footer-form">
            <button type="submit" class="btn btn-primary">Отправить заявку</button>
        </div>
    </form>
</div>
</section>
<section class="news-section" id="news-section">
    <div class="container container-content">
        <h2 class="section-title">
            Новости
        </h2>
        <div class="albums-list row">
            {%for news in news_list%}
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{news.get_prewiew}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{news.title}}</h4>
                    <p class="card-text">{{news.text }}</p>
                    <a href="{{news.get_absolute_url}}" class="btn btn-primary">Подробней</a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
<section class="contacts-section" id="contacts-section">

<div class="container container-content">
    <h2 class="section-title">
        Контакты
    </h2>
    <div class="row address">
        <div class="col-md-6  address-text">
            <div class="address-home">
                <div class="title">
                    Нас можно <span class="accent-words">найти</span>:
                </div>
                <div class="point">
                    г. Пермь, с. Култаево <br>
                    улица <span class="accent-words">Романа Кашина</span>, 21
                </div>
            </div>
        </div>
        <div class="col-md-6 phone">
            <div class="title">
                Или <span class="accent-words">позвонить</span> нам:
            </div>
            <div class="point">
                {{basicdata.tel}}
            </div>
        </div>
    </div>
</div>
<div class=" address-map">
</div>
<div class="container container-content">
    <div class="row address">
        <div class="social-life">
            <div class="row">
                <div class="col-md-12">
                    Мы в <span class="accent-words"> социальных </span> сетях:
                </div>
            </div>
            <div class="row icons">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <i class="fa fa-instagram " aria-hidden="true"></i>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 accent-words">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 accent-words">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>


    <script>
        $(document).ready(function () {
            $('.address-map').append(
    '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2115.285477631471!2d56.23423031600246!3d57.98299898120814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c0c813763261%3A0x86dd4b3733380539!2z0YPQuy4g0JzQsNGA0YjRgNGD0YLQvdCw0Y8sIDIxLCDQn9C10YDQvNGMLCDQn9C10YDQvNGB0LrQuNC5INC60YDQsNC5LCA2MTQxMTE!5e0!3m2!1sru!2sru!4v1486493723555" width="100%" height="100%" allowfullscreen></iframe>')
            $("#navbarCollapse .go").on("click", "a", function (event) {
                //отменяем стандартную обработку нажатия по ссылке
                event.preventDefault();
                //забираем идентификатор бока с атрибута href
                var id_ = $(this).attr('href');
                var id = id_.replace("/", "");
                var top = $(id).offset().top - 50;
                //alert($(id).offset().top);
                $('body').animate({ scrollTop: top }, 600);
            });
        });
        //$('.news-img-block').hover(function () {
        //    $(this).children('.news-info-block').removeClass('news-info-block-hide')
        //    },
        //    function () {
        //        $(this).children('.news-info-block').addClass('news-info-block-hide')
        //    }  
        //)
        $('.news-img-block').hover(function () {
        $(this).children('.news-info-block').css('display', 'block')
        },
        function () {
        $(this).children('.news-info-block').css('display', 'none')
        }
        )


$('#main-navbar a').each(function () {
    $(this).attr('href',$(this).attr('href').substring(1));
});

$('.navbar-nav a[href^="#"]').on('click', function (e) {
      e.preventDefault();
        $(document).off("scroll");
         $('a').each(function () {
            $(this).removeClass('active');
        })
        $(this).addClass('active');
         var target = this.hash,
         menu = target;
         $target = $(target);
       $('html, body').stop().animate({
            'scrollTop': $target.offset().top-$('.navbar-header').height()
        }, 600, 'swing', function () {
            $(document).on("scroll", onScroll);
        });
    });



function onScroll(event){
    var scrollPos = $(document).scrollTop();
    $('#main-navbar a').each(function () {
        var currLink = $(this);
       var refElement = $(currLink.attr("href"));
        if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
            $('#main-navbar ul li a').removeClass("active");
            currLink.addClass("active");
        }
        else{
            currLink.removeClass("active");
        }
    });
}
    

    </script>

    {% endblock %}
