<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="yandex-verification" content="4c713284b57adb6f" />
        <meta name="description" content="{%if desctiption%} {{description}}{%else%}{{description_d}}{%endif%}">
        <meta name="keywords" content="Ходуожественная ковка в перми. Изготовление кованых изделий на заказ. Качественные кованые изделия по разумной цене">
        <title>{{ title }}</title>
        <style> body{background-color:#000}</style>
        {% load staticfiles %}
        <link href="{% static 'app/img/favicon.ico' %}" rel="icon" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'app/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery.fancybox.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.fancybox.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.fancybox.pack.js' %}"></script>
    </head>

    <body  data-spy="scroll" data-target="#main-navbar">



        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" id="main-navbar">
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
                <div class="navbar-collapse collapse" id="navbarCollapse" aria-expanded="false" style="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item go">
                            <a class="nav-link" href="/#main-section">Главная</a>
                        </li>
                        <li class="nav-item go">
                            <a class="nav-link" href="/#info-section">Наши работы</a>
                        </li>
                        <li class="nav-item go">
                            <a class="nav-link" href="/#order-section">Заказ</a>
                        </li>
                        <li class="nav-item go">
                            <a class="nav-link" href="/#news-section">Новости</a>
                        </li>
                        <li class="nav-item go" style="margin-right: 16px;">
                            <a class="nav-link" href="/#contacts-section">Контакты</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
                        </li>
                    </ul>
                    <div class="navbar__phone"><a href="tel:+79822541883">+7 (982) 254 18 83</a></div>
                </div>
        </nav>
        <div class="container breadcrumb__container">
            {% block breadcrumb%}{% endblock %}
        </div>

        <div class="body-content">
            
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
        <script src="{% static 'app/scripts/respond.js' %}"></script>
        {% block scripts %}{% endblock %}

        <!— Yandex.Metrika counter —>
        <script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter43641314 = new Ya.Metrika({
                id:43641314,
                clickmap:true,
                trackLinks:true,
                    accurateTrackBounce:true
            });
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/43641314" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!— /Yandex.Metrika counter —>
    </body>

</html>
