{% extends "app/layout.html" %}

{% block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item "><a href='/'>Главная</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'catalog'%}">Каталог</a></li>
        <li class="breadcrumb-item active">{{object.title}}</li>

</ol>
{% endblock %}
{% block content %}
{% load staticfiles %}
<section class="albums-section">
<div class="container container-content">
<h1 >
    {{object.title}}
</h1>
    <div class="row albums-list">
        {%for photo in object.photo_set.all%}
       <div class="card" style="width: 20rem;">
            <a class="fancybox" rel="gallery1"
                href="{{photo.img.url}}">
                <img  class="card-img-top"  src="{{photo.img.preview.url}}" />

            </a>
            
        </div>
        {%endfor%}
    </div>

  {{object.text}}
</div>
</section>

<script>
    $(document).ready(function() {
    $(".fancybox").fancybox({
      padding: 0 ,
    openEffect	: 'none',
    closeEffect	: 'none'
    });
    })
</script>
{% endblock %}
