{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
    <section class="albums-section">
        <div class="section-title">
            наши работы
        </div>
        <div class="container container-content">
            <div class="row albims-list">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="{{albums.0.get_absolute_url}}">
                        <div class="album-title">
                            ковыне крыши
                        </div>
                        <img src="{% static 'app/img/i1.jpg' %}" />
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 accent-words">
                    <div class="album-title">
                        ковыне перила
                    </div>
                    <img src="{% static 'app/img/i2.jpg' %}" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="album-title">
                        кованая мебель
                    </div>
                    <img src="{% static 'app/img/i3.jpg' %}" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 accent-words">
                    <div class="album-title">
                        ограды
                    </div>
                    <img src="{% static 'app/img/i4.jpg' %}" />
                </div>
            </div>
        </div>
    </section>
{% endblock %}