{% extends "app/layout.html" %}
{% block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item "><a href='/'>Главная</a></li>

    <li class="breadcrumb-item active">Каталог</li>
</ol>
{% endblock %}

{% block content %}
{% load staticfiles %}
<section class="albums-section">
<div class="container container-content">
<h1>
    Наши работы
</h1>
    <div class="row albums-list">
        {%for album in object_list%}
<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{album.get_prewiew}}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{album.title}}</h4>
        <p class="card-text">{{album.text }}</p>
        <a href="{{album.get_absolute_url}}" class="btn btn-primary">Подробней</a>
    </div>
</div>
{%endfor%}

    </div>
</div>
</section>
{% endblock %}
