{% extends "app/layout2.html" %}

{% block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item "><a href='/'>Главная</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'news-list'%}">Новости</a></li>
        <li class="breadcrumb-item active">{{object.title}}</li>

</ol>
{% endblock %}
{% block content %}
{% load staticfiles %}
<section class="albums-section">
<div class="container container-content">
<h1 >
    {{object.title}}
</h1>
  {{object.text}}
    <div class="row albims-list">
        {%for photo in object.photo_set.all%}
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a class="fancybox" rel="gallery1"
                href="{{photo.img.url}}">
                <img  src="{{photo.img.url}}" />
            </a>
        </div>
        {%endfor%}
    </div>
</div>
</section>

<script>
    $(document).ready(function() {
    $(".fancybox").fancybox({
      padding: 0 ,
    openEffect	: 'none',
    closeEffect	: 'none'
    });
    })
</script>
{% endblock %}
